openapi: 3.0.3
info:
  title: Homely API - unofficial documentation
  description: |
    Homely AS provides an open API for customers may develop their own smart-home integrations 
    and solutions. The API is in beta, and users need to request access by 
    [contacting Homely](https://www.homely.no/kundeservice/).

    The API consists of a REST-API with bearer token header authentication, and option to
    subscribe to live Socket.IO updates. The WebSocket connection only provides state updates,
    so you'll need to fetch initial state (and receive authentication token) from http requests.

    ## Two APIs

    Homely exposes two distinct APIs:

    - **Public SDK API** — `https://sdk.iotiliti.cloud/homely` — officially documented, intended
      for third-party integrations. Access requires contacting Homely customer support.
    - **App API** — `https://api.homely.no` — the private API used by the official Homely iOS/Android
      app. Discovered through HTTP proxy analysis of app traffic (June 2026). Not officially
      documented, subject to change without notice, and usage may violate Homely's terms of service.
      Rate limit behaviour may differ from the public SDK API.

    App API authentication uses Keycloak (JWT). Credentials discovered via proxy analysis:

    ```
    POST https://api.homely.no/oauth/v2/token
    Content-Type: application/json

    {
      "client_id": "account",
      "client_secret": "71fb00d6-ad04-43ca-96f4-fb797259da65",
      "grant_type": "password",
      "username": "<email>",
      "password": "<password>"
    }
    ```

    Returns `access_token` (JWT, 30 min TTL) and `refresh_token`.
    Token refresh: `POST https://api.homely.no/oauth/v2/refresh-token`

    **Important**: The App API response schema differs from the Public SDK API.
    Key differences in `/home/{locationId}`:
    - `alarmState` (string, top-level) instead of `alarm.state`
    - `location` contains full room hierarchy (floors → rooms)
    - `gateway` contains firmware version, Zigbee MAC, battery/power states
    - `devices[].features` is a dict keyed by feature name

    ## Limitations

    The API is read only, and you can't use it to arm / disarm the alarm system or request other
    actions. There is also varying support for devices, and some devices that works with the
    Homely hub will not show up on the device list from the API.

    ## WebSocket Connection

    Connect using Socket.IO client to:
    ```
    https://sdk.iotiliti.cloud?locationId={locationId}&token=Bearer%20{access_token}
    ```

    **Connection Headers:**
    ```json
    {
      "Authorization": "Bearer {access_token}",
      "locationId": "{locationId}"
    }
    ```

    **Event Subscription:**
    ```javascript
    sio.on('event', function(data) {
      // data.type: event type
      // data.payload or data.data: event data
    });
    ```

    **Event Types:**
    - `device-state-changed` - Sensor state updates
    - `alarm-state-changed` - Alarm state changes

  version: 1.0.0
  contact:
    name: Homely API Support
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

security:
  - bearerAuth: []

servers:
  - url: https://sdk.iotiliti.cloud/homely
    description: Public SDK API (official, requires access request)
  - url: https://api.homely.no
    description: App API (private, discovered via proxy analysis — unofficial)

tags:
  - name: Authentication
    description: Authentication endpoints (Public SDK API)
  - name: Locations
    description: Location and gateway management (Public SDK API)
  - name: Home
    description: Device and sensor data (Public SDK API)
  - name: App Authentication
    description: Authentication endpoints (App API — unofficial)
  - name: App Home
    description: Home and alarm state endpoints (App API — unofficial)
  - name: App Gateways
    description: Gateway management and diagnostics (App API — unofficial)
  - name: App Devices
    description: Device history and features (App API — unofficial)

paths:
  /oauth/token:
    post:
      tags:
        - Authentication
      summary: Get Access Token
      description: |
        Retrieve an Access Token for authentication. This Token is necessary to gain access 
        to the other API's in Homely SDK. The user is authenticated by using the same 
        username and password as they use in the Homely app.
      operationId: getAccessToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessTokenRequest'
            example:
              username: "testhomelyapi@safe4.com"
              password: "ThisIsValidPassword12!"
      responses:
        '200':
          description: Successful authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
        '400':
          description: Bad request - missing or invalid parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 400
                message: ["password must be a string"]
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 401
                message: "Unauthorized"

  /oauth/refresh-token:
    post:
      tags:
        - Authentication
      summary: Refresh Access Token
      description: |
        Get a new access token using the refresh token. The Access Token has a lifetime
        specified in the field "expires_in" (seconds). The refresh token also has an
        expiration time in the field "refresh_expires_in" (seconds).
      operationId: refreshAccessToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Successfully refreshed token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessTokenResponse'
        '400':
          description: Bad request - token expired or invalid
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 400
                message: "Refresh token expired"

  /locations:
    get:
      tags:
        - Locations
      summary: Get Locations
      description: |
        Retrieve all Locations (gateways) that the user has access to, as an Owner or Admin.
      operationId: getLocations
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of locations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - user has no access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /home/{locationId}:
    get:
      tags:
        - Home
      summary: Get Home Data
      description: |
        Retrieve the alarm state from a Location (gateway), and detailed information/state 
        from the available sensors at this Location.
      operationId: getHomeData
      security:
        - bearerAuth: []
      parameters:
        - name: locationId
          in: path
          required: true
          description: The unique id for the location
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Home data with devices and sensor states
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HomeData'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - user has no access to this location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 403
                message: "User a8dc1a32-9ac4-4ec1-b793-5e7946e389ba has no access to location 182bb447-8fa3-4fab-aa1a-5f01d15d6b51"

  /alarm/state/{locationId}:
    get:
      tags:
        - Home
      summary: Get Alarm State
      description: |
        Retrieve just the alarm state for a specific location. This endpoint was discovered 
        through community implementations and is not documented in official API docs.
        
        **Note**: This endpoint's existence and response format are based on code analysis 
        and may not be officially supported.
      operationId: getAlarmState
      security:
        - bearerAuth: []
      parameters:
        - name: locationId
          in: path
          required: true
          description: The unique id for the location
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Alarm state for the location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlarmStateResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - user has no access to this location
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ============================================================
  # App API endpoints (api.homely.no) — discovered via proxy
  # analysis of official iOS app traffic, June 2026.
  # These are UNOFFICIAL and undocumented by Homely.
  # ============================================================

  /oauth/v2/token:
    post:
      tags:
        - App Authentication
      summary: Login (App API)
      description: |
        Authenticate with username/password and receive a Keycloak JWT access token
        and refresh token. Credentials discovered via HTTP proxy analysis of the
        official Homely iOS app (June 2026).

        **Server**: `https://api.homely.no`

        **Known credentials:**
        - `client_id`: `account`
        - `client_secret`: `71fb00d6-ad04-43ca-96f4-fb797259da65`
      operationId: appLogin
      servers:
        - url: https://api.homely.no
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [client_id, client_secret, grant_type, username, password]
              properties:
                client_id:
                  type: string
                  example: account
                client_secret:
                  type: string
                  example: 71fb00d6-ad04-43ca-96f4-fb797259da65
                grant_type:
                  type: string
                  enum: [password]
                  example: password
                username:
                  type: string
                  format: email
                  example: user@example.com
                password:
                  type: string
                  example: yourpassword
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: Keycloak JWT (30 min TTL)
                  refresh_token:
                    type: string
                    description: Long-lived refresh token
                  token_type:
                    type: string
                    example: Bearer
                  expires_in:
                    type: integer
                    example: 1800
        '401':
          description: Invalid credentials

  /oauth/v2/refresh-token:
    post:
      tags:
        - App Authentication
      summary: Refresh Access Token (App API)
      description: |
        Refresh an expired access token using a refresh token.

        **Server**: `https://api.homely.no`
      operationId: appRefreshToken
      servers:
        - url: https://api.homely.no
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [client_id, client_secret, grant_type, refresh_token]
              properties:
                client_id:
                  type: string
                  example: account
                client_secret:
                  type: string
                  example: 71fb00d6-ad04-43ca-96f4-fb797259da65
                grant_type:
                  type: string
                  enum: [refresh_token]
                refresh_token:
                  type: string
      responses:
        '200':
          description: New access token issued
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                  token_type:
                    type: string
                  expires_in:
                    type: integer
        '401':
          description: Refresh token invalid or expired

  /users/me:
    get:
      tags:
        - App Authentication
      summary: Get Current User (App API)
      description: |
        Returns the authenticated user's profile. Returns 401 if the access token
        is expired (app then calls `/oauth/v2/refresh-token`).

        **Server**: `https://api.homely.no`
      operationId: appGetMe
      servers:
        - url: https://api.homely.no
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Current user profile
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  email:
                    type: string
                    format: email
        '401':
          description: Unauthorized — token expired

  /dashboard:
    get:
      tags:
        - App Home
      summary: Get Dashboard (App API)
      description: |
        Returns dashboard data for the authenticated user. Observed to return a
        small payload (Content-Length ~2 bytes in captured traffic — possibly an
        empty array `[]` or `{}`). Exact schema unknown.

        **Server**: `https://api.homely.no`
      operationId: appGetDashboard
      servers:
        - url: https://api.homely.no
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dashboard data
          content:
            application/json:
              schema:
                type: object
                description: Dashboard payload (schema not fully documented)
        '401':
          description: Unauthorized

  /home/{locationId}:
    get:
      tags:
        - App Home
      summary: Get Home State (App API)
      description: |
        Returns full home state for a location. The response schema differs
        significantly from the Public SDK API — notably `alarmState` is a
        top-level string field, and the response includes gateway details,
        room hierarchy, and richer device features.

        **Server**: `https://api.homely.no`
      operationId: appGetHome
      servers:
        - url: https://api.homely.no
      security:
        - bearerAuth: []
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Full home state
          content:
            application/json:
              schema:
                type: object
                properties:
                  location:
                    type: object
                    description: Location with full room hierarchy
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      address:
                        type: object
                        properties:
                          street: {type: string}
                          number: {type: string}
                          zipCode: {type: string}
                          city: {type: string}
                          countryCode: {type: string}
                          latitude: {type: string}
                          longitude: {type: string}
                      children:
                        type: array
                        description: Floors, each containing rooms
                        items:
                          type: object
                          properties:
                            id: {type: string, format: uuid}
                            name: {type: string}
                            children:
                              type: array
                              items:
                                type: object
                                properties:
                                  id: {type: string, format: uuid}
                                  name: {type: string}
                  alarmState:
                    type: string
                    description: Current alarm state (top-level, NOT nested under .alarm)
                    enum:
                      - DISARMED
                      - ARMED_AWAY
                      - ARMED_NIGHT
                      - ARMED_PARTLY
                      - BREACHED
                      - ALARM_PENDING
                  gateway:
                    type: object
                    description: Gateway (hub) details and feature states
                    properties:
                      id: {type: string, format: uuid}
                      modelId: {type: string, format: uuid}
                      locationId: {type: string, format: uuid}
                      online: {type: boolean}
                      serialNumber: {type: string}
                      zigbeeMAC: {type: string}
                      modelNumber: {type: string}
                      features:
                        type: object
                        description: Gateway feature states (connection, wlan, power, status)
                        properties:
                          connection:
                            type: object
                            properties:
                              states:
                                type: object
                                properties:
                                  source:
                                    type: object
                                    properties:
                                      value:
                                        type: string
                                        enum: [ethernet, wlan]
                          power:
                            type: object
                            properties:
                              states:
                                type: object
                                properties:
                                  batteryPercent: {$ref: '#/components/schemas/StateValue'}
                                  batteryVoltage: {$ref: '#/components/schemas/StateValue'}
                                  batteryLow: {$ref: '#/components/schemas/StateValue'}
                                  acPower: {$ref: '#/components/schemas/StateValue'}
                          status:
                            type: object
                            properties:
                              states:
                                type: object
                                properties:
                                  firmwareVersion: {$ref: '#/components/schemas/StateValue'}
                                  firmwareUpdate: {$ref: '#/components/schemas/StateValue'}
                  devices:
                    type: array
                    items:
                      type: object
                      properties:
                        id: {type: string, format: uuid}
                        name: {type: string}
                        modelName: {type: string}
                        online: {type: boolean}
                        features:
                          type: object
                          description: >
                            Dict keyed by feature name (alarm, battery, diagnostic,
                            temperature, siren, panel, armevent, setup).
                            Each feature contains a `states` dict with named StateValue entries.
                  arcServiceStatus:
                    type: string
                    description: ARC monitoring subscription status
                    example: ACTIVE
        '401':
          description: Unauthorized

  /alarm/state/{locationId}:
    get:
      tags:
        - App Home
      summary: Get Alarm State (App API)
      description: |
        Returns the current alarm state for a location. Also present in the public
        SDK (undocumented). Payload is small (~61 bytes).

        **Server**: `https://api.homely.no`
      operationId: appGetAlarmState
      servers:
        - url: https://api.homely.no
      security:
        - bearerAuth: []
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Alarm state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlarmStateResponse'
        '401':
          description: Unauthorized

  /arc/membership/{locationId}/status:
    get:
      tags:
        - App Home
      summary: Get ARC Membership Status (App API)
      description: |
        Returns the Alarm Receiving Centre (ARC) subscription/membership status
        for a location. ARC is Homely's optional professional monitoring service.
        Response is small (Content-Type `text/html; charset=utf-8`, ~6 bytes —
        may be a plain status string).

        **Server**: `https://api.homely.no`
      operationId: appGetArcStatus
      servers:
        - url: https://api.homely.no
      security:
        - bearerAuth: []
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: ARC membership status
        '401':
          description: Unauthorized

  /locations/{locationId}/services:
    get:
      tags:
        - App Home
      summary: Get Location Services (App API)
      description: |
        Returns the list of services/subscriptions enabled for a location
        (e.g. ARC monitoring, camera integration). Payload ~175 bytes.

        **Server**: `https://api.homely.no`
      operationId: appGetLocationServices
      servers:
        - url: https://api.homely.no
      security:
        - bearerAuth: []
      parameters:
        - name: locationId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Services for the location
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      description: Service type identifier
                    enabled:
                      type: boolean
        '401':
          description: Unauthorized

  /gateways/{gatewayId}/networks:
    get:
      tags:
        - App Gateways
      summary: Get Gateway Networks (App API)
      description: |
        Returns network configuration/status for a gateway (hub). Payload ~168 bytes.

        **Server**: `https://api.homely.no`
      operationId: appGetGatewayNetworks
      servers:
        - url: https://api.homely.no
      security:
        - bearerAuth: []
      parameters:
        - name: gatewayId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Gateway network configuration
          content:
            application/json:
              schema:
                type: object
                description: Network configuration (schema not fully documented)
        '401':
          description: Unauthorized

  /gateways/{gatewayId}/features/wlan/states/configuration:
    get:
      tags:
        - App Gateways
      summary: Get Gateway WiFi Configuration (App API)
      description: |
        Returns the current WiFi/WLAN configuration state of the gateway.
        Payload ~54 bytes.

        **Server**: `https://api.homely.no`
      operationId: appGetGatewayWlanConfig
      servers:
        - url: https://api.homely.no
      security:
        - bearerAuth: []
      parameters:
        - name: gatewayId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: WiFi configuration state
          content:
            application/json:
              schema:
                type: object
                description: WLAN configuration (schema not fully documented)
        '401':
          description: Unauthorized

  /gateways/{gatewayId}/history-log:
    get:
      tags:
        - App Gateways
      summary: Get Gateway History Log (App API)
      description: |
        Returns the event/history log for a gateway. Response is chunked
        (large payload). Called on gateway detail view in the app.

        **Server**: `https://api.homely.no`
      operationId: appGetGatewayHistoryLog
      servers:
        - url: https://api.homely.no
      security:
        - bearerAuth: []
      parameters:
        - name: gatewayId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Gateway event history
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: History log entry (schema not fully documented)
        '401':
          description: Unauthorized

  /devices/{deviceId}/features-history:
    get:
      tags:
        - App Devices
      summary: Get Device Feature History (App API)
      description: |
        Returns the historical state values for a device's features (sensors).
        Supports pagination via `limit` and `offset`.

        **Server**: `https://api.homely.no`
      operationId: appGetDeviceFeaturesHistory
      servers:
        - url: https://api.homely.no
      security:
        - bearerAuth: []
      parameters:
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
          example: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
          example: 0
      responses:
        '200':
          description: Device feature history
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  description: Feature history entry (schema not fully documented)
        '401':
          description: Unauthorized

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Use the access token obtained from /oauth/token

  schemas:
    StateValue:
      type: object
      description: A feature state value with timestamp
      properties:
        value:
          description: The current value (boolean, number, string, or object)
        lastUpdated:
          type: string
          format: date-time
          nullable: true

    AccessTokenRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          description: The same e-mail address as used in the Homely app
          example: "testhomelyapi@safe4.com"
        password:
          type: string
          description: The same password as used in the Homely app
          example: "ThisIsValidPassword12!"

    RefreshTokenRequest:
      type: object
      required:
        - refresh_token
      properties:
        refresh_token:
          type: string
          description: The refresh token from the previous authentication

    AccessTokenResponse:
      type: object
      properties:
        access_token:
          type: string
          description: JWT access token
        expires_in:
          type: integer
          description: Token expiration time in seconds
          example: 60
        refresh_expires_in:
          type: integer
          description: Refresh token expiration time in seconds
          example: 1800
        refresh_token:
          type: string
          description: Refresh token for obtaining new access tokens
        token_type:
          type: string
          default: "bearer"
        scope:
          type: string
          default: ""
        session_state:
          type: string
          nullable: true
        not-before-policy:
          type: integer
          nullable: true

    Location:
      type: object
      properties:
        name:
          type: string
          description: The manually set name for the location
          example: "Kringsjå ~ 109FD"
        role:
          type: string
          description: User's role at the location/gateway
          enum: [ADMIN, OWNER]
          example: "ADMIN"
        userId:
          type: string
          format: uuid
          description: Unique id for the user
        locationId:
          type: string
          format: uuid
          description: Unique id for the location
        gatewayserial:
          type: string
          nullable: true
          description: Serial number for the gateway
          example: "02000001000109FD"
        partnerCode:
          type: integer
          nullable: true
          description: Developer partner ID

    HomeData:
      type: object
      properties:
        locationId:
          type: string
          format: uuid
        gatewayserial:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
          description: Name of the location
        alarmState:
          type: string
          enum:
            - DISARMED
            - ARMED_AWAY
            - ARMED_NIGHT
            - ARMED_PARTLY
            - BREACHED
            - ALARM_PENDING
            - ALARM_STAY_PENDING
            - ARMED_NIGHT_PENDING
            - ARMED_AWAY_PENDING
        userRoleAtLocation:
          type: string
          enum: [ADMIN, OWNER]
        devices:
          type: array
          items:
            $ref: '#/components/schemas/Device'

    AlarmStateResponse:
      type: object
      description: Alarm state response (structure based on community implementation, may vary)
      properties:
        locationId:
          type: string
          format: uuid
        alarmState:
          type: string
          enum:
            - DISARMED
            - ARMED_AWAY
            - ARMED_NIGHT
            - ARMED_PARTLY
            - BREACHED
            - ALARM_PENDING
            - ALARM_STAY_PENDING
            - ARMED_NIGHT_PENDING
            - ARMED_AWAY_PENDING

    Device:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Unique id for the device
        name:
          type: string
          nullable: true
          description: The manually set name for the device
          example: "Motion Sensor Mini"
        serialNumber:
          type: string
          nullable: true
          description: The serial number for the device
          example: "0015BC001A016A18"
        location:
          type: string
          nullable: true
          description: Floor and room name if set for the device
          example: "Floor 1 - Entrance"
        online:
          type: boolean
          description: Device online status
        modelId:
          type: string
          format: uuid
          description: Unique id for the model
        modelName:
          type: string
          nullable: true
          description: Model name
          example: "Motion Sensor Mini"
        homeId:
          type: string
          format: uuid
          nullable: true
          description: Home/location reference (discovered in community implementations)
        features:
          $ref: '#/components/schemas/DeviceFeatures'

    SensorState:
      type: object
      properties:
        value:
          type: object
          oneOf:
            - type: boolean
            - type: number
            - type: string
          nullable: true
        lastUpdated:
          type: string
          format: date-time
          nullable: true
          description: ISO 8601 timestamp

    AlarmStates:
      type: object
      properties:
        alarm:
          $ref: '#/components/schemas/SensorState'
        tamper:
          $ref: '#/components/schemas/SensorState'
        flood:
          $ref: '#/components/schemas/SensorState'
        fire:
          $ref: '#/components/schemas/SensorState'
        sensitivitylevel:
          allOf:
            - $ref: '#/components/schemas/SensorState'
            - description: Sensitivity level for alarm sensors (discovered in community implementations)

    TemperatureStates:
      type: object
      properties:
        temperature:
          $ref: '#/components/schemas/SensorState'

    BatteryStates:
      type: object
      properties:
        low:
          $ref: '#/components/schemas/SensorState'
        defect:
          $ref: '#/components/schemas/SensorState'
        voltage:
          $ref: '#/components/schemas/SensorState'

    DiagnosticStates:
      type: object
      properties:
        networklinkstrength:
          $ref: '#/components/schemas/SensorState'
        networklinkaddress:
          $ref: '#/components/schemas/SensorState'

    MeteringStates:
      type: object
      properties:
        summationdelivered:
          allOf:
            - $ref: '#/components/schemas/SensorState'
            - description: Total consumption in kWh * 1000 (divide by 1000 for kWh)
        summationreceived:
          allOf:
            - $ref: '#/components/schemas/SensorState'
            - description: Total power returned to grid
        demand:
          allOf:
            - $ref: '#/components/schemas/SensorState'
            - description: Current consumption in watts
        check:
          $ref: '#/components/schemas/SensorState'

    ThermostatStates:
      type: object
      properties:
        LocalTemperature:
          allOf:
            - $ref: '#/components/schemas/SensorState'
            - description: Local temperature in centigrade * 100 (divide by 100 for °C)
        AbsMinHeatSetpointLimit:
          $ref: '#/components/schemas/SensorState'
        AbsMaxHeatSetpointLimit:
          $ref: '#/components/schemas/SensorState'
        OccupiedCoolingSetpoint:
          $ref: '#/components/schemas/SensorState'
        OccupiedHeatingSetpoint:
          $ref: '#/components/schemas/SensorState'
        ControlSequenceOfOperation:
          $ref: '#/components/schemas/SensorState'
        SystemMode:
          $ref: '#/components/schemas/SensorState'

    AlarmFeature:
      type: object
      properties:
        states:
          $ref: '#/components/schemas/AlarmStates'

    TemperatureFeature:
      type: object
      properties:
        states:
          $ref: '#/components/schemas/TemperatureStates'

    BatteryFeature:
      type: object
      properties:
        states:
          $ref: '#/components/schemas/BatteryStates'

    DiagnosticFeature:
      type: object
      properties:
        states:
          $ref: '#/components/schemas/DiagnosticStates'

    MeteringFeature:
      type: object
      properties:
        states:
          $ref: '#/components/schemas/MeteringStates'

    ThermostatFeature:
      type: object
      properties:
        states:
          $ref: '#/components/schemas/ThermostatStates'

    DeviceFeatures:
      type: object
      description: Collection of all possible device features
      properties:
        alarm:
          $ref: '#/components/schemas/AlarmFeature'
        temperature:
          $ref: '#/components/schemas/TemperatureFeature'
        battery:
          $ref: '#/components/schemas/BatteryFeature'
        diagnostic:
          $ref: '#/components/schemas/DiagnosticFeature'
        metering:
          $ref: '#/components/schemas/MeteringFeature'
        thermostat:
          $ref: '#/components/schemas/ThermostatFeature'

    ErrorResponse:
      type: object
      properties:
        statusCode:
          type: integer
          description: HTTP response status code
        message:
          oneOf:
            - type: string
            - type: array
              items:
                type: string
          description: Error message or array of error messages

    # WebSocket Event Schemas (for documentation, not REST endpoints)
    WsStateChangeData:
      type: object
      description: WebSocket state change data for a single sensor
      properties:
        feature:
          type: string
          enum: [alarm, temperature, battery, diagnostic, metering, thermostat]
        stateName:
          type: string
          description: Name of the state that changed
        value:
          type: object
          oneOf:
            - type: boolean
            - type: number
            - type: string
          nullable: true
        lastUpdated:
          type: string
          format: date-time
          nullable: true

    WsDeviceChangeData:
      type: object
      description: WebSocket device state change event data
      properties:
        locationId:
          type: string
          format: uuid
        deviceId:
          type: string
          format: uuid
        rootLocationId:
          type: string
          format: uuid
          nullable: true
        gatewayId:
          type: string
          format: uuid
          nullable: true
        modelId:
          type: string
          format: uuid
          nullable: true
        change:
          $ref: '#/components/schemas/WsStateChangeData'
        changes:
          type: array
          items:
            $ref: '#/components/schemas/WsStateChangeData'
        partnerCode:
          type: integer
          nullable: true

    WsAlarmChangeData:
      type: object
      description: WebSocket alarm state change event data
      properties:
        locationId:
          type: string
          format: uuid
        state:
          type: string
          enum:
            - DISARMED
            - ARMED_AWAY
            - ARMED_NIGHT
            - ARMED_PARTLY
            - BREACHED
            - ALARM_PENDING
            - ALARM_STAY_PENDING
            - ARMED_NIGHT_PENDING
            - ARMED_AWAY_PENDING
        userId:
          type: string
          format: uuid
          description: User who triggered the alarm state change
        userName:
          type: string
          description: Name of user who triggered the alarm state change
        timestamp:
          type: string
          format: date-time
          description: ISO 8601 timestamp of the change
        eventId:
          type: integer
          description: Unique event identifier